.centerPosition {
    text-align: center;
}
.content {
    background-color: #00CCFF;
    margin: 0;
    /* background: yellow; */
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);
    width: 300px;
    border-radius: 25px;
}

.input {
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);
    width: 50%!important;
}